body{
    background-color:cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    
}

a{
    text-decoration: unset;
    color: blue;
}
#geral{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

#menu{
    display: flex;
    justify-content: left;
    align-content: space-around;
    margin-bottom: 30px;
    padding: 2%;
    background-color:aliceblue;
    border-radius: 5px;
    box-shadow: cyan 1px 1px 1px;
}
.spaceItemMenu{
    margin-left: 2%;
}


#boxVideoTexto{
    display: flex;
}

.textoFormacao{
    margin-right: 2%;
    text-align: justify;
    border: solid aliceblue 1px;
    border-radius: 10px;
    height: 200px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: cyan 1px 1px 1px; 
}

.textoFormacaoForm{
    margin-right: 2%;
    text-align: justify;
    border: solid aliceblue 1px;
    border-radius: 10px;
    height: 780px;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: cyan 1px 1px 1px; 
}
.textoFormacaoFontes{
    margin-right: 2%;
    text-align: justify;
    border: solid aliceblue 1px;
    border-radius: 10px;
    height: 280px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: cyan 1px 1px 1px; 
}


#texto1{
    margin-left: 2%;
    text-align: justify;
    border: solid aliceblue 1px;
    border-radius: 10px;
    height: 200px;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: cyan 1px 1px 1px;
}

.linkTexto{
    margin-top: 2%;
}
#boxTextoVideo{
    margin-top: 2%;
    display: flex;
}

#texto2{
    margin-right: 2%;
    text-align: justify;
    border: solid aliceblue 1px;
    border-radius: 10px;
    height: 200px;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: cyan 1px 1px 1px;
}

#audios{
    margin-top: 2%;
}

.audio{
    margin-top: 2%;
    border-radius: 10px;
    border: solid aliceblue 1px;
    padding: 2%;
    box-shadow: cyan 1px 1px 1px;
}
#rodape{
    margin-top: 4%;
    
}



#tbFontes{
	border-collapse: collapse;
	width: 100%;
}
#tbFontes th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#tbFontes tr:hover {background-color:#f5f5f5;}